<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Nombre]="graficos.grafico1.leyenda" [label]="graficos.grafico1.labels" [data]="graficos.grafico1.data" [tipo]="graficos.grafico1.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Nombre]="graficos.grafico2.leyenda" [label]="graficos.grafico2.labels" [data]="graficos.grafico2.data" [tipo]="graficos.grafico2.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Nombre]="graficos.grafico3.leyenda" [label]="graficos.grafico3.labels" [data]="graficos.grafico3.data" [tipo]="graficos.grafico3.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Nombre]="graficos.grafico4.leyenda" [label]="graficos.grafico4.labels" [data]="graficos.grafico4.data" [tipo]="graficos.grafico4.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div>